App5/Connected Services/ServiceReference1/VideoStream.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VideoStream" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/VideoStream?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/VideoStream?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/VideoStream?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8090/VideoStream?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVideoStream_StartPreview_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPreview" />
  </wsdl:message>
  <wsdl:message name="IVideoStream_StartPreview_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartPreviewResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoStream_GetStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStream" />
  </wsdl:message>
  <wsdl:message name="IVideoStream_GetStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoStream_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IVideoStream_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoStream_StreamingVideo_InputMessage">
    <wsdl:part name="parameters" element="tns:StreamingVideo" />
  </wsdl:message>
  <wsdl:message name="IVideoStream_StreamingVideo_OutputMessage">
    <wsdl:part name="parameters" element="tns:StreamingVideoResponse" />
  </wsdl:message>
  <wsdl:portType name="IVideoStream">
    <wsdl:operation name="StartPreview">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoStream/StartPreview" message="tns:IVideoStream_StartPreview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoStream/StartPreviewResponse" message="tns:IVideoStream_StartPreview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoStream/GetStream" message="tns:IVideoStream_GetStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoStream/GetStreamResponse" message="tns:IVideoStream_GetStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoStream/GetList" message="tns:IVideoStream_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoStream/GetListResponse" message="tns:IVideoStream_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StreamingVideo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoStream/StreamingVideo" message="tns:IVideoStream_StreamingVideo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoStream/StreamingVideoResponse" message="tns:IVideoStream_StreamingVideo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVideoStream" type="tns:IVideoStream">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartPreview">
      <soap:operation soapAction="http://tempuri.org/IVideoStream/StartPreview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStream">
      <soap:operation soapAction="http://tempuri.org/IVideoStream/GetStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IVideoStream/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StreamingVideo">
      <soap:operation soapAction="http://tempuri.org/IVideoStream/StreamingVideo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VideoStream">
    <wsdl:port name="BasicHttpBinding_IVideoStream" binding="tns:BasicHttpBinding_IVideoStream">
      <soap:address location="http://localhost:9000/streamserver" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>